.scrollingSpacer{
	height: 60px;
	width: 100%;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 40px;
	background: linear-gradient(to right, var(--imperion-black), var(--imperion-red));

  	color: var(--imperion-white);
	position: fixed;
	
	bottom: 0;
	left: 0;

	font-size: 0.80rem;

	width: 100%;
	z-index: 1000;
}

.personalData {
	margin-left: 10px;

	margin-bottom: 0;
}

.discordLink {
	display: flex;
	align-items: center;
	height: 100%;
	width: fit-content;

	text-decoration: none;
	color: var(--imperion-white);
}

.discordText {
	margin: 0;
}

.discordIcon {
	height: 16px;
	margin: 10px;

	filter: var(--imperion-white-filter);
}

@media (max-width: 600px) {
	.personalData {
		display: none;
	}

	.footer {
		justify-content: flex-end;
	}
}