.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	width: 200px;
	height: 300px;

	gap: 8px;
	padding: 12px;
	border: 1px solid var(--border-color);
	border-radius: 8px;

	background-color: rgba(38, 3, 15, 0.1);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	color: var(--imperion-black);

	transition: background-color 0.3s, border-color 0.3s;

	&:hover {
		cursor: pointer;
	}
}

.lightText {
	color: var(--imperion-white);
}

.title {
	text-align: center;
}

.description {
	text-align: center;
	margin: 0;
}

.membersAndDiscord {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	padding: 0;

	padding-top: 6px;
	padding-bottom: 6px;
}

.members {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.memberCount {
	display: flex;
	flex-direction: row;
	align-items: center;

	p {
		margin: 0;
	}

	font-size: 14px;
	color: var(--imperion-dark-gray);
}

.memberIcon {
	width: 20px;
	height: 20px;

	filter: var(--imperion-black-filter);

	margin-top: 1px;
}

.deadIcon {
	width: 20px;
	height: 20px;

	filter: var(--imperion-black-filter);

	margin-top: -3px;
}

.lightIcon {
	filter: var(--imperion-white-filter);
}

.links {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
	justify-content: center;
}

.link {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.websiteIcon {
	width: 24px;
	height: 24px;

	filter: var(--imperion-black-filter);

	transition: transform 0.2s;

	&:hover {
		transform: scale(1.2);
	}
}

.discordIcon {
	width: 24px;
	height: 24px;

	filter: var(--imperion-black-filter);

	transition: transform 0.2s;

	&:hover {
		transform: scale(1.2);
	}
}	