.scrollingSpacer{
	height: 60px;
	width: 100%;
}

.header {
	width: 100vw;
	height: 60px;
	top: 0;
	z-index: 1000;


	background: linear-gradient(to right, var(--imperion-black), var(--imperion-red));
	color: var(--imperion-white);

	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
}

.name {
	display: flex;
	text-decoration: none;
	color: var(--imperion-white);

	margin-top: 6px;

	user-select: none;

	height: 100%;
}

.navBar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;
	position: relative;
}

.navLinks {
	display: flex;
	gap: 0.5rem;
}

.navLink {
    text-decoration: none;
    color: inherit;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;

	width: fit-content;
}

.menuButton {
	display: none;
	background: none;
	border: none;
	font-size: 2rem;
	cursor: pointer;
}

@media (max-width: 600px) {
	.navLinks {
		display: none;
		flex-direction: column;
		position: fixed;
		align-items: center;

		width: 100vw;

		top: 60px;
		right: 0;
		background: linear-gradient(to right, var(--imperion-black), var(--imperion-red));

		width: 100%;

		border-radius: 0 0 1rem 1rem;
		z-index: 99;
	}
	.navLinks.open {
		display: flex;
	}
	.menuButton {
		display: block;
	}
}